body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  color: #b4b4b4;
}

.infoPanel {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  .documentInfo {
    padding: 5%;
    height: 40%;
  }
  .personaInfo {
    padding: 5%;
    height: 60%;
  }
}

.editor {
  width: 100%;
  display: flex;
  justify-content: center;
  .textarea {
    font-size: 1.3em;
    width: 100%;
    background-color: #fff;
    padding: 1%;
    background: linear-gradient(to right, #efefef 0, #ffffff 20px, #fff 100%);
    box-shadow: inset 10px 0 20px -7px rgba(0, 0, 0, 0.3);
    border: none;
    color: #222;
    &:focus {
      outline: none;
    }
  }
}
