body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}

.app {
  height: 100vh;
  display: flex;
  color: #707070;
  & > div {
    display: flex;
    width: 100%;
  }
}

.loginPage {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #272727;
  .form {
    width: 25vw;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    .title {
      top: 60px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .primary {
        font-size: 4em;
        font-weight: 900;
        color: #41b883;
      }
      .secondary {
        font-size: 1.5em;
        font-weight: 400;
      }
    }

    label {
      text-align: left;
      font-size: 1.1em;
      padding: 10px;
      padding-left: 0;
      color: #aaaaaa;
      &.signupLabel {
        padding-top: 30px;
      }
    }

    input[type="text"],
    [type="password"],
    [type="email"] {
      background-color: lighten($color: #272727, $amount: 10%);
      padding: 15px;
      border: none;
      border-radius: 3px;
      color: #cccccc;
      font-size: 1.1em;
      &:focus {
        outline: none;
      }
      &:focus,
      &:hover {
        background-color: lighten($color: #272727, $amount: 20%);
      }
      transition: all 0.5s ease;
    }

    .errorMessage {
      color: #e04a0e;
      text-align: center;
    }
    .successMessage {
      color: #41b883;
    }

    .loginButton,
    .signupButton {
      color: #dddddd;
      font-size: 1.1em;
      border-radius: 4px;
      background-color: #3dac7a;
      padding: 15px;
      border: none;
      cursor: pointer;
      &.loginButton {
        margin-top: 40px;
        &:hover {
          background-color: lighten($color: #3dac7a, $amount: 10%);
          color: lighten($color: #dddddd, $amount: 10%);
        }
      }
      &.signupButton {
        background-color: #666666;
        margin-top: 20px;
        &:hover {
          background-color: lighten($color: #666666, $amount: 10%);
          color: lighten($color: #dddddd, $amount: 10%);
        }
      }
      transition: all 0.5s ease;
    }
  }
}

.homePage {
  width: 80vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.infoPanel {
  width: 20vw;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  .marcList {
    // padding: 3% 5%;
    height: 70%;
    .open {
      display: block;
    }
    .closed {
      display: none;
    }
  }

  .marcInfo {
    height: 30%;
  }

  .title {
    float: left;
    text-align: left;
    font-weight: 600;
    font-size: 1.2em;
    display: flex;
    align-items: center;
  }

  .chevronCollapse {
    padding: 3px;
    float: right;
  }

  .menuItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #272727;

    &:hover {
      background-color: lighten($color: #272727, $amount: 10%);
      color: #cccccc;
    }
    &.main,
    &.newMarc {
      justify-content: space-between;
      padding-left: 10px;
    }
    &.newMarc {
      background-color: #444444;
      color: #cccccc;
      cursor: auto;
    }
    &.selected {
      color: #41b883;
    }
    span {
      padding-left: 10px;
    }
    transition: all 0.5s ease;
  }

  .embeddedTextBox {
    background: transparent;
    border: none;
    color: #cccccc;
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }

  .sideBarButton {
    border: none;
    font-size: 1em;
    font-weight: 600;
    padding: 8px;
    border-radius: 3px 0px 0px 3px;
    color: #dddddd;
    background-color: #3dac7a;
    cursor: pointer;
    &:hover {
      background-color: lighten($color: #3dac7a, $amount: 10%);
    }
    &.cancel {
      background-color: #333333;
      color: #e04a0e;
      border-radius: 0px 3px 3px 0px;
    }
    &.cancel:hover {
      background-color: lighten($color: #333333, $amount: 10%);
    }
    transition: all 0.5s ease;
  }

  hr {
    border: 0.5px solid #565656;
    border-radius: 1px;
    margin: 0px;
  }
}

.editor {
  width: 80vw;
  display: flex;
  justify-content: center;
  .textarea {
    font-size: 1.3em;
    width: 100%;
    background-color: #fff;
    padding: 1%;
    background: linear-gradient(to right, #efefef 0, #ffffff 20px, #fff 100%);
    box-shadow: inset 10px 0 20px -7px rgba(0, 0, 0, 0.3);
    border: none;
    color: #222;
    resize: none;
    &:focus {
      outline: none;
    }
  }
}
