body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}

.app {
  height: 100vh;
  display: flex;
  color: #707070;
  & > div {
    display: flex;
    width: 100%;
  }
}

.loginPage {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #272727;
  .form {
    width: 25vw;
    padding-top: 6%;
    display: flex;
    flex-direction: column;
    .title {
      top: 60px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .primary {
        font-size: 4em;
        font-weight: 900;
        color: #41b883;
      }
      .secondary {
        font-size: 1.5em;
        font-weight: 400;
      }
    }

    label {
      text-align: left;
      font-size: 1.1em;
      padding: 10px;
      padding-left: 0;
      color: #aaaaaa;
      &.signupLabel {
        padding-top: 30px;
      }
    }

    input[type="text"],
    [type="password"],
    [type="email"] {
      background-color: lighten($color: #272727, $amount: 10%);
      padding: 15px;
      border: none;
      border-radius: 3px;
      color: #cccccc;
      font-size: 1.1em;
      &:focus {
        outline: none;
      }
      &:focus,
      &:hover {
        background-color: lighten($color: #272727, $amount: 20%);
      }
      transition: all 0.5s ease;
    }

    .errorMessage {
      color: #e04a0e;
      text-align: center;
    }
    .successMessage {
      color: #41b883;
    }

    .loginButton,
    .signupButton {
      color: #dddddd;
      font-size: 1.1em;
      border-radius: 4px;
      background-color: #3dac7a;
      padding: 15px;
      border: none;
      cursor: pointer;
      &.loginButton {
        margin-top: 40px;
        &:hover {
          background-color: lighten($color: #3dac7a, $amount: 10%);
          color: lighten($color: #dddddd, $amount: 10%);
        }
      }
      &.signupButton {
        background-color: #666666;
        margin-top: 20px;
        &:hover {
          background-color: lighten($color: #666666, $amount: 10%);
          color: lighten($color: #dddddd, $amount: 10%);
        }
      }
      transition: all 0.5s ease;
    }
  }
}

.homePage {
  width: 80vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.infoPanel {
  width: 20vw;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #272727;
  .userDetails {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .displayName {
      font-size: 1.1em;
      font-weight: 500;
      color: #41b883;
      display: flex;
      align-items: center;
      span {
        padding-left: 10px;
      }
    }
  }
  .marcList {
    // padding: 3% 5%;
    height: 70%;
    .open {
      display: block;
    }
    .closed {
      display: none;
    }
  }

  .marcInfo {
    height: 30%;
  }

  .title {
    float: left;
    text-align: left;
    display: flex;
    align-items: center;
    &.bold,
    .bold {
      font-weight: 600;
      font-size: 1.2em;
    }
  }

  .chevronCollapse {
    padding: 3px;
    float: right;
  }

  hr {
    border: 0.5px solid #565656;
    border-radius: 1px;
    margin: 0px;
  }
}

.menuItem {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: #272727;

  &:hover {
    background-color: lighten($color: #272727, $amount: 10%);
    color: #cccccc;
  }
  &.main,
  &.newMarc {
    justify-content: space-between;
    padding-left: 10px;
  }
  &.newMarc {
    background-color: #444444;
    color: #cccccc;
    cursor: auto;
  }
  &.selected {
    color: #41b883;
  }
  span {
    padding-left: 10px;
  }
  transition: all 0.5s ease;
}

.sideBarButton {
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 8px;
  border-radius: 3px 0px 0px 3px;
  color: #dddddd;
  background-color: #3dac7a;
  //display: flex;
  //flex-direction: row;
  cursor: pointer;
  &:hover {
    background-color: lighten($color: #3dac7a, $amount: 10%);
  }
  &.cancel {
    background-color: #333333;
    color: #e04a0e;
    border-radius: 0px 3px 3px 0px;
  }
  &.cancel:hover {
    background-color: lighten($color: #333333, $amount: 10%);
  }
  &.rightButton {
    border-radius: 3px;
    font-size: 0.85em;
  }
  transition: all 0.5s ease;
}

.embeddedTextBox {
  background: transparent;
  border: none;
  color: #cccccc;
  font-size: 1em;
  &:focus {
    outline: none;
  }
}

.editor {
  width: 80vw;
  display: flex;
  justify-content: center;
  .textarea {
    font-size: 1.3em;
    width: 100%;
    background-color: #fff;
    padding: 1%;
    background: linear-gradient(to right, #efefef 0, #ffffff 20px, #fff 100%);
    box-shadow: inset 10px 0 20px -7px rgba(0, 0, 0, 0.3);
    border: none;
    color: #222;
    resize: none;
    &:focus {
      outline: none;
    }
  }
  .caret {
    position: absolute;
    padding: 5px;
    left: 0px;
    top: 0px;
    border: none;
    border-radius: 10px;
    opacity: 0.6;
    transition: top 0.5s ease, left 0.5s ease, opacity 0.5s ease;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.manageMarc {
  label {
    text-align: left;
    font-size: 1.1em;
    padding: 10px;
    padding-left: 0;
    color: #aaaaaa;
  }
  .searchContainer {
    @extend .modalMarginNegate;
    display: flex;
    .searchBox {
      flex: auto;
      font-size: 1.1em;
      background-color: lighten($color: #272727, $amount: 20%);
      padding: 15px;
      padding-left: 20px;
      border: none;
      color: #dddddd;
      &:focus {
        outline: none;
      }
      &:focus,
      &:hover {
        background-color: lighten($color: #272727, $amount: 30%);
      }
      &::placeholder {
        color: lighten($color: #272727, $amount: 50%);
      }
      transition: all 0.5s ease;
    }
  }
  .userContainer {
    padding-top: 20px;
    color: #dddddd;
    .menuItem {
      @extend .modalMarginNegate;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background: lighten($color: #272727, $amount: 20%);
      background-image: none;
      &:focus,
      &:hover {
        background-color: lighten($color: #272727, $amount: 30%);
      }
      transition: all 0.5s ease;
    }
    .userDiv {
      padding: 3px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dropdownRoot {
        width: 30%;
        min-width: 80px;
      }
      .dropdownControl {
        padding: 10px;
        background-color: lighten($color: #272727, $amount: 20%);
        color: #dddddd;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &:hover {
          background-color: lighten($color: #272727, $amount: 30%);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
      }
      .dropdownMenu {
        background-color: lighten($color: #272727, $amount: 20%);
        color: #dddddd;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        div[class~="Dropdown-option"] {
          color: #dddddd;
          &:hover {
            background-color: lighten($color: #272727, $amount: 30%);
          }
          transition: all 0.5s ease;
        }
        div[class~="is-selected"] {
          background-color: lighten($color: #272727, $amount: 30%);
        }
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 10; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalMarginNegate {
  margin: 0px -20px;
}

.modalPadding {
  padding: 0px 20px;
}

.modalContent {
  @extend .modalPadding;
  background-color: #272727;
  width: 30vw;
  height: 100%;
  min-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    font-size: 1.2em;
    font-weight: 600;
    color: #cccccc;
    text-transform: uppercase;
    .closeButton {
      font-size: larger;
      cursor: pointer;
    }
  }
}